<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title>demo1</title>
<!-- css -->
<link  th:href="@{bootstrap-3.3.0-dist/dist/css/bootstrap.min.css}" rel="stylesheet" /> 
</head>
<body>
<!-- 引入导航条 -->
<div th:with="location=table" th:include="header :: header">header</div>
<!-- 导航结束 -->

<!-- 主体内容 开始-->
<h1 align="center"></h1>
<div  class="jumbotron">
       <div style="border:5px solid red;width:1000px;height:600px;" class="container">          
          <!-- highcharts内容 -->
          abc
      </div>     
</div>
<!-- 主体内容 结束-->    
  
<!-- 引入footer -->
<div th:with="val=table1" th:include="footer :: footer">footer</div>
<!-- footer结束 -->
        
<!-- js -->
<script th:src="@{js/jquery-3.1.1.min.js}"></script>
<script th:src="@{bootstrap-3.3.0-dist/dist/js/bootstrap.min.js}"></script>
<!-- Highcharts js -->
<script type="text/javascript" th:src="@{Highcharts-5.0.2/code/highcharts.js}"></script>

<script type="text/javascript">

</script>
</body>
</html>