<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title>packages</title>
</head>
<body>
	<table border="1">
		<thead>
			<tr>
				<td>序号</td>
				<td>包名</td>
				<td>点击包名查看相应的类</td>
			</tr>
		</thead>
		<tfoot>
			<tr>
				<td>*</td>
				<td>*</td>
				<td>*</td>
			</tr>
		</tfoot>
		<tbody th:each="d,iterStat : ${data}">
			<tr>
				<td th:text="${iterStat.count}">序号</td>
				<td th:text="${d}">包名</td>
				<td><a th:href="'/classes?packagename='+${d}" th:text="${d}"></a></td>
			</tr>
		</tbody>
	</table>
</body>
</html>