<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title>table</title>
</head>
<body>
<!-- tables.html是写死的,table.html是动态创建的,所以tables.html应该响应的速度更快 
     th:if="${iterStat.index==0}" 目的是为了只拿一行,然后遍历这行值的key,value,获取表头-->
	<table border="1">
		<thead th:each="d,iterStat : ${data}" th:if="${iterStat.index==0}">
			<tr>
				<td th:each="map : ${d}" th:text="${map.key}"></td>
			</tr>
		</thead>
		<tfoot  th:each="d,iterStat : ${data}" th:if="${iterStat.index==0}">
			<tr>
				<td th:each="map : ${d}" th:text="@{*}"></td>
			</tr>
		</tfoot>
		<tbody  th:each="d,iterStat : ${data}">
			<tr>
				<td th:each="map : ${d}" th:text="${map.value}"></td>
			</tr>
		</tbody>
	</table>

<!-- load jquery -->
<script th:src="@{https://code.jquery.com/jquery-3.1.1.min.js}" type="text/javascript"></script> 
<!-- 演示:thymeleaf如何在js中取数据 -->
<script th:inline="javascript" type="text/javascript" >
var data=[[${data}]];
if(data.length>0){
	var oneLine=data[0];
	var columns=new Array();
	for(var key in oneLine){
		//取值用 value=oneLine[key];
		columns.push(key);
	}
}
console.log(data);
console.log(columns);
</script>
</body>
</html>